Django==1.7.5
django-debug-toolbar==1.2.2
django-extensions==1.5.0
django-logentry-admin==0.1.5
django-object-actions==0.5.1
django-tinymce==1.5.3
gunicorn==19.2.1
ipython==3.0.0
Pillow==2.7.0
psycopg2==2.6
python-slugify==0.1.0
reportlab==3.1.44
Werkzeug==0.10.1
